<!--&lt;!&ndash; preloader &ndash;&gt;-->
<!--<div id="preloader">-->
    <!--<div id="loader">-->
    <!--</div>-->
<!--</div>-->

<section id="header" class="header_area">

    <!-- NAV AREA CSS -->
    <div class="nav_area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- MENU AREA STARTS HERE -->
                    <div class="menu_area">
                        <div class="logo_container">
                            <a href="index.html"><img src="/images/logo.png" class="img-responsive" alt="tweet_birds_logo"></a>
                        </div>
                        <div class="main_menu">
                            <!-- nav toggle hamberger -->
                            <a class="menu_toggler" ui-sref="home">
                                <i class="fa fa-align-left"></i>
                            </a>
                            <div class="offset_menu" id="navbar-example">
                                <div class="menu_wrapper">
                                    <div class="cross">
                                        <span class="left"></span>
                                        <span class="right"></span>
                                    </div>
                                    <ul>
                                        <li><a href="#about">About Me</a></li>
                                        <li><a href="#service">My Services</a></li>
                                        <li><a href="#portfolio">My Portfolio</a></li>
                                        <li><a href="#pricing">My Pricing</a></li>
                                        <li><a href="#testi">Testimonial</a></li>
                                        <li><a href="#contact">Contact Me</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>