<section id="portfolio" class="portfolio common">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center port_bot">
                    <h4>What I Did ?</h4>
                    <h2>My Portfolio</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="filter-section">
    <div class="filter-container isotopeFilters portfolio_fillter">
        <div class="all-latest-project">
            <div class="filter-container isotopeFilters portfolio_fillter">
                <ul class="list-inline filter">
                    <li class="filter active" data-filter="*">ALL <span>|</span></li>
                    <li class="filter" data-filter=".photography">Logo<span>|</span></li>
                    <li class="filter" data-filter=".illustrations">Illustration<span>|</span></li>
                    <li class="filter" data-filter=".websites">Web Template<span>|</span></li>
                    <li class="filter" data-filter=".art">Others</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="project_mix" class="container-fluid">
        <div class="col-md-2 col-sm-4 mix all illustrations art other portfolio_img p0">
            <img src="images/portfolio-1.jpg" alt="#">
            <div class="overlay">
                <a href="images/portfolio-1.jpg" data-fancybox>
                    <div class="overlay_shape"><i class="fa fa-search-plus"></i></div>
                </a>
                <h3>3D Building</h3>
                <p>Category: Illustrations</p>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 mix all photography websites other portfolio_img p0">
            <img src="images/portfolio-2.jpg" alt="#">
            <div class="overlay">
                <a href="images/portfolio-2.jpg" data-fancybox>
                    <div class="overlay_shape"><i class="fa fa-search-plus"></i></div>
                </a>
                <h3>3D Building</h3>
                <p>Category: Illustrations</p>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 mix all illustrations photography other portfolio_img p0">
            <img src="images/portfolio-6.jpg" alt="#">
            <div class="overlay">
                <a href="images/portfolio-6.jpg" data-fancybox>
                    <div class="overlay_shape"><i class="fa fa-search-plus"></i></div>
                </a>
                <h3>3D Building</h3>
                <p>Category: Illustrations</p>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 mix all websites art other portfolio_img p0">
            <img src="images/portfolio-3.jpg" alt="#">
            <div class="overlay">
                <a href="images/portfolio-3.jpg" data-fancybox>
                    <div class="overlay_shape"><i class="fa fa-search-plus"></i></div>
                </a>
                <h3>3D Building</h3>
                <p>Category: Illustrations</p>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 mix all photography websites other portfolio_img p0">
            <img src="images/portfolio-4.jpg" alt="#">
            <div class="overlay">
                <a href="images/portfolio-4.jpg" data-fancybox>
                    <div class="overlay_shape"><i class="fa fa-search-plus"></i></div>
                </a>
                <h3>3D Building</h3>
                <p>Category: Illustrations</p>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 mix all websites art other portfolio_img p0">
            <img src="images/portfolio-5.jpg" alt="#">
            <div class="overlay">
                <a href="images/portfolio-5.jpg" data-fancybox>
                    <div class="overlay_shape"><i class="fa fa-search-plus"></i></div>
                </a>
                <h3>3D Building</h3>
                <p>Category: Illustrations</p>
            </div>
        </div>

    </div>
    <div class="button-port">
        <a href=""> browse all</a>
    </div>
</section>

<!-- My portfolio part end -->
