<section id="pricing" class="my_pricing common">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h4>How Much I Charge?</h4>
                    <h2>My Pricing</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pricing-details">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading center">

                </div>
            </div>
        </div>
        <div class="row price_inner">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="price ">
                    <div class="free"></div>
                    <div class="interest_img">
                        <img src="images/pricing-free-icon.png" class="img-responsive price_img" alt="img">
                        <img src="images/pricing-free-icon-hover.png" class="img-responsive price_img_hover" alt="">
                    </div>

                    <h3>FREE</h3>
                    <div class="border_test"></div>
                    <ul>
                        <li>Business Card</li>
                        <li>Logo & Brand Identity</li>
                        <li>Web Banner</li>
                        <li>x</li>
                        <li>x</li>
                        <li>
                            <h2>$ 0.00/Month</h2>
                        </li>
                    </ul>

                    <a href="#">purchas<i class="fa fa-arrow-right"></i></a>

                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="price">
                    <div class="free"></div>
                    <div class="interest_img">
                        <img src="images/pricing-besic.png" class="img-responsive price_img" alt="img">
                        <img src="images/pricing-besic-icon-hover.png" class="img-responsive price_img_hover" alt="">
                    </div>

                    <h3>Basic</h3>
                    <div class="border_test"></div>
                    <ul>
                        <li>Business Card</li>
                        <li>Logo & Brand Identity</li>
                        <li>Web Banner</li>
                        <li>Web Template</li>
                        <li>x</li>
                        <li>
                            <h2>$ 9.99/Month</h2>
                        </li>
                    </ul>
                    <a href="#">purchas<i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="price">
                    <div class="interest_img">
                        <img src="images/pricing-premium-icon.png" class="img-responsive price_img" alt="img">
                        <img src="images/pricing-premium-icon-hover.png" class="img-responsive price_img_hover" alt="">
                    </div>
                    <h3>Premium</h3>
                    <div class="border_test"></div>
                    <ul>
                        <li>Business Card</li>
                        <li>Logo & Brand Identity</li>
                        <li>Web Banner</li>
                        <li>Web Template</li>
                        <li>Unlimited Revision</li>
                        <li>
                            <h2>$ 99.99/Month</h2>
                        </li>
                    </ul>
                    <a href="#">purchas<i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- My pricng part end -->

<!-- work with me part start -->

<section class="work_with">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-offset-2 col-xs-6">
                <div class="with_me">
                    <h3>Want to work with me?</h3>
                    <p>Always feel Free to Contact & Hire me</p>
                </div>
            </div>
            <div class="col-md-2 col-md-offset-3 col-xs-6">
                <div class="Hire_btn">
                    <a href="#">Hire Me</a>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- work with me part end -->

<!-- Testimonial part start -->
<section id="testi" class="common">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h4>What Think Client About Me?</h4>
                    <h2>Testimonial</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="testimonial">
    <div class="container">
        <div class="row testimonial_slick">
            <div class="col-md-6">
                <div class="test_inner">
                    <div class="testimonial_shape"></div>
                    <div class="test_img">
                        <img src="images/testimonial-2.png" class="img-responsive" alt="img">
                    </div>
                    <div class="testimonial_inner">
                        <h3>Ahsan Rana</h3>
                        <h5>Graphic Designer</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                        <ul>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                        </ul>
                        <span>Ahsanrana</span>
                    </div>

                </div>

                <div class="clr"></div>
            </div>
            <div class="col-md-6">
                <div class="test_inner">
                    <div class="testimonial_shape"></div>
                    <div class="test_img">
                        <img src="images/testimonial-1.png" class="img-responsive" alt="img">
                    </div>

                    <div class="testimonial_inner">
                        <h3>Adreetanipa</h3>
                        <h5>Web Designer</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                        <ul>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star-half"></i></a></li>
                            <li><a href="#"><i class="fa fa-star-half"></i></a></li>
                        </ul>
                        <span>Adreetanipa</span>
                    </div>
                </div>
                <div class="clr"></div>
            </div>
            <div class="col-md-6">
                <div class="test_inner">
                    <div class="testimonial_shape"></div>
                    <div class="test_img">
                        <img src="images/testimonial-1.png" class="img-responsive" alt="img">
                    </div>
                    <div class="testimonial_inner">
                        <h3>Markeulas</h3>
                        <h5>Graphic Designer</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                        <ul>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star-half"></i></a></li>
                        </ul>
                        <span>Markeulas</span>
                    </div>

                </div>

                <div class="clr"></div>
            </div>
        </div>
        <div class="arrow_test">
            <span>/</span>
        </div>
    </div>
</section>


<!-- Testimonial part end -->

<!-- Contact me part start -->
<section id="contact" class="contact_me common">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading center">
                    <h4>How can you communicate?</h4>
                    <h2>Contact Me</h2>
                </div>
            </div>

        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="form position">
                    <form class="cont-inline flato">
                        <div class="cont-group col-sm-6">
                            <input type="text" class="form-control" placeholder="Name">
                        </div>
                        <div class="cont-group col-sm-6">
                            <input type="email" class="form-control" placeholder="E-mail">
                        </div>
                        <div class="cont-group col-sm-12">
                            <textarea cols="30" rows="10" placeholder="Message"></textarea>
                        </div>
                        <div class="cont-group col-sm-12 text-center">
                            <div class="send_btn">
                                <a href="#">Submit</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- Contact me part end -->

